html { 
	height: 100%;
	font-family: sans-serif;
}
body { height: 100%; margin: 0px; padding: 0px }
#map_canvas {  }
#sidebar {
	float:right;
	position:relative;
	opacity:0.95;
	width:200px;
	padding:10px; 
	background:#eee; 
}

#footer {
	clear: both;
	margin: 0;
}

#container {
	width: 100%;
}

#sidebar h1 {

	color: #0053a7;

	margin-bottom: 0px;

	font-weight: bold;

	font-size: xx-large;

}

#sidebar h2 {
	margin-top: 0px;
	font-style: italic;
	font-size: small;
}
#sidebar h3 {

	margin: 0px;

	font-weight: bold;

}

#sidebar p {

	font-size: xx-small;

	margin: 0px;

}

#sidebar #legal {
	padding-top: 30px;
	opacity:1.0;
	font-family:Helvetica;
	font-size:small;
	bottom:0;
}

#sidebar #loading_info_spinner {
	padding: 40px;
	text-align: center
}

#sidebar #timeShift {
	width: 100%;
}