html { 
	height: 100%;
	font-family: sans-serif;
}
body { width: 100%; height: 100%; margin: 0px; padding: 0px }

#sidebar {
	float:left;
	width:200px;
	margin-left: -100%;
	position: relative; 
	background:#eee;
}

#content {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	padding: 0 0 0 210px;
}

#clear {
	clear: both;
	margin: 0;
}

#container {
	width: 100%;
	position: relative;
	float: left;
	overflow: hidden;
}
#container:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}

#sidebar h1 {

	color: #0053a7;

	margin-bottom: 0px;

	font-weight: bold;

	font-size: xx-large;

}

#sidebar h2 {
	margin-top: 0px;
	font-style: italic;
	font-size: small;
}
#sidebar h3 {

	margin: 0px;

	font-weight: bold;

}

#sidebar p {

	font-size: xx-small;

	margin: 0px;

}

#sidebar #legal {
	padding-top: 30px;
	opacity:1.0;
	font-family:Helvetica;
	font-size:small;
	bottom:0;
}

#sidebar #loading_info_spinner {
	padding: 40px;
	text-align: center
}

#sidebar #timeShift {
	width: 100%;
}
